@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  color: rgb(8, 201, 8);
  font-size: 10px;
}

.cli-input {
  background-color: transparent;
  border: none;
  width: 100%;
}

.cli-input:focus {
  outline: none;
}
